.header p{
    position: relative;
    font-size:.36rem;
    color:#6e6e6e;
    text-align: center;
    line-height: .87rem;
}
.header p a{
    position:absolute;
}
.content{
     padding-left:.3rem;
     padding-right:.2rem;
     margin:0 auto;
 }
.content>p{
    text-align: center;
    margin-right: .05rem;
}
.content>p img{
    width: 5.33rem;
    height: 3.21rem;
    margin-top:.22rem;
    vertical-align: middle;
}
.fail{
    text-align: center;
    margin-top:.59rem;
}
.fail h2{
    font-size:.36rem;
    color:black;
    font-weight: normal;
}
.fail p{
    font-size:.22rem;
    color:black;
}
.info{
    padding-left:1.5rem;
    margin-top:.38rem;
}
.info h2{
    font-size:.24rem;
    color:black;
    font-weight: normal;
    margin-bottom:.2rem;
}
.info p{
    font-size:.22rem;
    color:#333333;
    width: 5.2rem;
    line-height: .3rem;
}
.jump{
    display: flex;
    padding-left:.7rem;
    margin-top:1rem;
}
.jump a{
    font-size:.28rem;
    color:#eb5310;
    display: block;
    width:2.13rem;
    height: .54rem;
    border:.01rem solid #eb5310;
    text-align: center;
    line-height: .54rem;
    margin:0 .3rem;
}
.jump .on{
    background:#eb5310;
    color:white;
}